:root{
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Light-grey);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   height: 100dvh;
}
.container{
    background-color: var(--White);
    border-radius: 10px 10px 25% 10px;
    padding: 3%;
}
.container form{
    position: relative;
    border-bottom: 2px solid hsl(0, 0%, 86%);
    padding-bottom: 40px;
}
.container .box{
   display: inline-block;
}
.container label{
    display: block;
    margin-bottom: 5px;
    color: var(--Smokey-grey);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.container input{
    display: block;
    font-family: inherit;
    font-weight: 400i;
    color: var(--Smokey-grey);
    padding: 5px 5px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    margin-right: 20px;
}
.container #submit{
    background-color: var(--Purple);
    border-radius: 50%;
    /*padding: 7px;
    border: none;*/
}
.container .results p{
    font-size: 52px;
    font-weight: 800;
    font-style: italic;
    line-height: 110%;
}

@media screen and (min-with: 768px) {
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }