:root{
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
--White: hsl(0, 0%, 100%);
--Off-white: hsl(0, 0%, 94%);
--Light-grey: hsl(0, 0%, 86%);
--Smokey-grey: hsl(0, 1%, 44%);
--Off-black: hsl(0, 0%, 8%);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Light-grey);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   height: 100dvh;
}

.container{
    background-color: var(--White);
    border-radius: 20px 20px 25% 20px;
    padding: 3%;
}
.container form{
    position: relative;
    border-bottom: 2px solid hsl(0, 0%, 86%);
    padding-bottom: 50px;
    margin-top: 40px;
}
.container .box{
   display: inline-block;
}
.container label{
    display: block;
    margin-bottom: 5px;
    color: var(--Smokey-grey);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.container.error label{
    color: var(--Light-red);
}
.container input{
    display: block;
    font-family: inherit;
    font-weight: 400i;
    color: var(--Smokey-grey);
    padding: 10px 5px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    margin-right: 10px;
}
.container input:hover{
    cursor: pointer;
    border-color: var(--Purple);
}
.container.error input{
    border-color: var(--Light-red);
}
.container small{
    font-style: italic;
    font-size: 12px;
    color: var(--Light-red);
    visibility: hidden;
}
.container.error small{
    visibility: visible;
}
.container #submit{
    background-color: var(--Purple);
    border-radius: 50%;
    padding: 7px;
    border: none;
    position: absolute;
    margin-top: -25px;
    right: 42%;
}
.container #submit:hover{
    cursor: pointer;
    background-color: var(--Off-black);
}
.container .results{
    margin-top: 20%;
}
.container .results p{
    font-size: 52px;
    font-weight: 800;
    font-style: italic;
    line-height: 110%;
}
.container span{
    color: var(--Purple);
}

@media screen and (min-width: 768px) {
    .container{
        padding: 2%;
        padding-right: 5%;
    }
    .container form{
        padding-bottom: 35px;
        margin-top: 0;
    }
    .container input{
        margin-right: 20px;
        padding: 10px 15px;
    }
    .container #submit{
        right: 37%;
        padding: 10px;
    }
    .container .results p{
        font-size: 62px;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }